<!DOCTYPE html>
<html>
<head>
    <title>Авторизация</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="styles/css/auth.css" />

    <script src="styles/js/jquery.js"></script>
    <script src="styles/js/jquery.hints.js"></script>
    <script src="styles/js/admin_auth.js"></script>

</head>
<body>

<form id="auth" name="auth">
    <h1>Авторизация</h1>
    <label for="email">Email:</label><input type="email" id="email" name="email" title="Email для авторизации" /><br />
    <label for="password">Пароль:</label><input type="password" id="password" name="password" /><br />
    <input type="submit" value="Авторизоваться" />
</form>

</body>
</html>